<form [formGroup]="batchRequestForm" (ngSubmit)="newBatchRequest()">
  <div class="container">
    <div class="row mb-3">
      <div class="col-sm-2"></div>
      <div class="col-sm-8" *ngIf="batchRequestForm.touched || batchRequestForm.dirty">
        <div class="alert alert-danger" *ngIf="batchRequestForm.get('batchSize').errors">
          <div>
            Batch Size should be a numeric value between 1 to 100.
          </div>
          <div *ngIf="batchRequestForm.get('numbersPerBatch').errors">
            Numbers per batch should be a numeric value between 1 to 100.
          </div>
        </div>
        <div class="alert alert-success" *ngIf="message">
          {{message}}
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="batchSize" class="col-sm-2 col-form-label">Batch Size</label>
      <div class="col-sm-10">
        <input type="text" formControlName="batchSize" class="form-control" id="batchSize">
      </div>
    </div>
    <div class="row mb-3">
      <label for="numbersPerBatch" class="col-sm-2 col-form-label">Numbers Per Batch</label>
      <div class="col-sm-10">
        <input type="text" formControlName="numbersPerBatch" class="form-control" id="numbersPerBatch">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <button type="submit" [disabled]='isDisableBatchStart' class="btn btn-outline-primary">Start New
          Batch</button>
        <button type="button" [disabled]='overallStatus === statusEnum.InProcess' (click)="clearBatch()" class="btn btn-outline-secondary">Clear Batch</button>

        <a href="#" routerLink="/batch/status" routerLinkActive="active" class="btn btn-outline-primary" tabindex="-1"
          role="button" aria-disabled="true">Show
          Batch Status</a>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-12">
        <app-batch-detail (batchSummaryEmitter)="updateBatch($event)"></app-batch-detail>
      </div>
    </div>
  </div>
</form>
